
  
  /* Chrome, Edge, Safari */
  *::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  
  *::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 4px;
  }
  
  *::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 100px;
  }
  
  *::-webkit-scrollbar-thumb:hover {
    background: #555;
  }



/* html::-webkit-scrollbar {
    display: none;
}

html {
    -ms-overflow-style: none;  
    scrollbar-width: none;  
}  */

.userpf {
    transition: opacity 0.5s, height 0.4s;
}

.fadeIn {
    opacity: 1;
}

.fadeOut {
    opacity: 0;
}


